<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourofourfound.aimsdelivery">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="screenSize">

        <!--        credentials for HERE SDK-->
        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="HR2HX0ZEUKS93b8e21vc8A" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="KO8ib6FnozE2cmkur-TU-2OEMLoBDr6-bbTLUW70JEwPVAqUuKu8Qk6ZLNku7Tfq1q9_XAHnVCMsMvmuYvysSA" />

        <activity
            android:name="com.fourofourfound.aims_delivery.MainActivity"
            android:theme="@style/Aims_delivery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>